/* LANDING STYLE */
.section1{
  background: url("./assets/bg_hd.jpeg") no-repeat center center/cover;
}
.section1::before {
  background: rgba(0, 0, 0, 0.801); /* Ajusta el nivel de opacidad */
}

.bg {
  position: relative;
  height: 100vh;
  overflow: hidden;
}
.bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.content {
  position: relative;
  text-align: center;
  z-index: 2; /* Coloca el texto por encima del overlay */
}

.bg-blur {
  background-color: rgba(26, 26, 26, 0.662);
}
.slick-slide .card {
  margin: 0 15px;
}
.num-card {
  -webkit-text-stroke: 2px #fff;
}
.cardInfo {
  background: radial-gradient(
    circle at bottom right,
    #320e1d,
    #200f19 3%,
    #1f1220 10%,
    #1F1426 25%,
    #1d172d 40%,
    #1b1c39 70%,
    #192144 100%
  );
  color: white;
  padding: 20px 15px;
  border-radius: 12px; /* Esquinas redondeadas */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Sombra sutil */
}
p{
  color: #fefefe;
}

/* LOGIN */
.login{
  background: url('./assets/bg_inicio2.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.login::before {
  background: rgba(0, 0, 0, 0.61); /* Ajusta el nivel de opacidad */
}
.login-form{
  background: rgba(0, 0, 0, 0.618);
}
.btn-code{
  background-color: rgba(142, 142, 142, 0.384);
  transition: all 0.3s;
}
.btn-code:hover{
  background-color: rgba(142, 142, 142, 0.318);
}